NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
CJ_API_KEY=replace_with_your_cj_api_key
CJ_ACCESS_TOKEN=replace_with_your_cj_access_token
CJ_EMAIL=replace_with_your_cj_account_email
DASHBOARD_PASSWORD=change-this-dashboard-password
